* {
    margin: 10;
    padding:30;
    box-sizing: border-box;
}

/*  BASE */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(24, 40, 59);
    background-color: #e2eaff;
    line-height: 1.6;
}

   /*MENU*/

nav a {
    color: rgb(232, 234, 255);
    text-decoration: none;
    font-weight: 550;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 {
     color: rgb(235, 240, 246);
}

header {
    background-color: #9eacdc;
    color: rgb(4, 4, 54);
    padding: 32px 16px;
    text-align: center;
     #inicio { background-image: url("fundoarena.png"); }
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
        }

        header {
    background-image: url("fundoarena.png");
    background-size: cover;
    background-position: center;
}

.inicio {
    background-image: url("imagem/arena.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*Seletor classe e ID*/

.card {
    
    padding: 30px;
    margin: 40px auto;
    max-width: 800;
    border-radius: 12px;
    text-align: center;
}

#foto-arena-sports {
    background-image: url(arena\ sports.png);
}

.foto {
    background-color: rgb(27, 25, 54);
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 4px;
    margin-bottom: 12px;
}

h3, h2 {
    background-color: rgb(206, 216, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

head {
     background-color: rgb(234, 239, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

}

#foto-arenasports {
    background-image: url(arena\ sports.png);
    padding: 50px;
    height: 300px;
}

    /* RODAPÉ */

footer {
    background-color: rgb(169, 185, 234);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}